:root {

/* Colors: */
--unnamed-color-103c5a: #103C5A;
--unnamed-color-648c8b: #648C8B;
--unnamed-color-b9cece: #B9CECE;
--unnamed-color-e5eaea: #E5EAEA;
--unnamed-color-a2570a: #A2570A;
--unnamed-color-cfe3fc: #CFE3FC;

/* Font/text values */
--unnamed-font-family-gibson: Gibson;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-24: 24px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-36: 36px;
--unnamed-font-size-70: 60px;
--unnamed-font-size-80: 80px;
--unnamed-font-size-90: 90px;
--unnamed-font-size-100: 100px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-29: 29px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-39: 39px;
--unnamed-line-spacing-65: 55px;
--unnamed-line-spacing-82: 82px;
--unnamed-line-spacing-85: 85px;
--unnamed-line-spacing-96: 96px;
}

/* Character Styles */


.contenedor{
	width: 100%;
	max-width: 1920px;
}

.logo{
	width: 190px;
}

.page-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 6%;
	background-color: var(--unnamed-color-cfe3fc);
	
	z-index: 20;	
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.menu-link{
	display: inline-block;
	margin-left: 20px;
}

.page{
	width: 90%;
	max-width: 1318px;
	margin: 10% auto 0 auto;
}

.page2{
	width: 100%;
	max-width: 1920px;
}

.page3{
	width: 100%;
	max-width: 1400px;
}

body{
	background-color: var(--unnamed-color-cfe3fc);
}



.img{
	max-width: 100%;
	height: auto;
	position: absolute;
	z-index: -10;
}

.img-1{
	width: 100%;
	max-width: 1400px;
	margin-top: 50px;
}

.page-container{
	position: relative;
}

.feature-img{
	margin-left: 20px;
	margin-top: 120px;
	margin-bottom: 120px;
	width: 30%;
}

.btn-1 {
    background-color: #A2570A;
    border-radius: 60px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 35px;
	z-index: 10;
}

.btn-3 {
    background-color: #A2570A;
    border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-100);
	line-height: var(--unnamed-line-spacing-82);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-e5eaea);
	margin-bottom: 27px;
}
.h2 {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-70);
	line-height: var(--unnamed-line-spacing-65);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-103c5a);
	margin-top: 103px;
}
.h3 {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-70);
	line-height: var(--unnamed-line-spacing-65);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-103c5a);
	margin-top: 50px;
}
.h4 {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-24);
	line-height: var(--unnamed-line-spacing-29);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-103c5a);
	text-decoration: none;
}

.h4-1 {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-24);
	line-height: var(--unnamed-line-spacing-29);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-e5eaea);
	text-decoration: none;
}


.h5 {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-90);
	line-height: var(--unnamed-line-spacing-85);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-103c5a);
}
.p {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-36);
	line-height: var(--unnamed-line-spacing-39);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-e5eaea);
	margin-bottom: 226px;
}
.h1b {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-medium);
	font-size: var(--unnamed-font-size-80);
	line-height: var(--unnamed-line-spacing-96);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-e5eaea);
}
.h2b {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-medium);
	font-size: var(--unnamed-font-size-30);
	line-height: var(--unnamed-line-spacing-36);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-103c5a);
}
.f {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-24);
	line-height: var(--unnamed-line-spacing-39);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-103c5a);
}
.h4b {
	font-family: var(--unnamed-font-family-gibson);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-80);
	line-height: var(--unnamed-line-spacing-29);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-e5eaea);
}

footer{
	background-color: var(--unnamed-color-e5eaea);
	padding: 50px 0px;
    position : absolute;
    width: 100%;
}

.icono1{
	width: 3%;
	margin-top: 5%;
	margin-bottom: 3%;
	margin-left: 46%;
	margin-right: 2%;
}

.icono2{
	width: 3%;
	margin-top: 5%;
	margin-bottom: 3%;
}

.a1{
	margin-bottom: 10%;
}

.a2{
	margin-top: 10%;
	margin-bottom: 10%;
}

.a3{
	margin-left: 7%;
	margin-top: 15%;
	z-index: 10;
	position: absolute;
}

@media screen and (max-width: 950px){
	
	.h4b{
		font-size: var(--unnamed-font-size-36);
		line-height: var(--unnamed-line-spacing-36);
	}
	
	.h2{
		font-size: var(--unnamed-font-size-36);
		line-height: var(--unnamed-line-spacing-36);
	}
	
	.h3{
		font-size: var(--unnamed-font-size-36);
		line-height: var(--unnamed-line-spacing-36);
	}
	
	.h5{
		font-size: var(--unnamed-font-size-36);
		line-height: var(--unnamed-line-spacing-36);
	}
	
	.h4{
		font-size: var(--unnamed-font-size-18);
	}
	
	.a3{
		margin-top: 40%;
	}
	
	.icono1{
		width: 10%;
		margin-left: 40%;
	}
	
	.icono2{
		width:10%;
	}
	
	.page2{
		margin-top: 60%
	}
	

}

